[package]
name = "koruma-derive"
description = """
Derive crate for koruma
"""
version.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true
readme = "README.md"

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn = { version = "2.0", features = ["full", "extra-traits"] }
heck.workspace = true
proc-macro-error2.workspace = true
